/**
* Custom Css for backend 
*
* @package creativ_education
*/
#creativ-education-img-container li{
	padding: 3px;
}
#creativ-education-img-container .creativ-education-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}